* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.wrapper {
    overflow: hidden;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}
