.header {
    padding: 20px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;

        & a{
            margin: 0 25px 0 0;
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
            color: #fff;
        }
    }

    &__logout {
        display: flex;
        align-items: center;

        & * {
            margin: 0 0 0 10px;
        }
    }
}